/* Color Palette {
  "white": #f4f5f6
  "black": #2b2b3a
  yellow: #eafc40
  light blue: #1ed2f4
  dark blue: #254558
} */

.App {
  height: 100%;
}

main {
  position: relative;
  height: 93vh;
  overflow: hidden;
}

.gm-infowindow {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.gm-infowindow__title {
  margin: 20px auto;
  font-size: 1.5em;
}

.gm-infowindow__button {
  padding: 10px 15px;
  margin: 10px 0;
  border: none;
  font-size: 1.1em;
  font-weight: 700;
  background: #1ed2f4;
  color: #254558;
  box-shadow: 0 0 10px -3px #1b1b1e;
  cursor: pointer;
}

.gm-infowindow__button:hover {
  box-shadow: 0 0 15px -3px #1b1b1e;
}